# Flask
FLASK_APP=app.py
FLASK_ENV=production
FLASK_DEBUG=False

# Security (Change this in production!)
SECRET_KEY=super-secret-key-12345

# Database
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=student_db
DATABASE_URL=mysql+pymysql://root:rootpassword@db:3306/student_db

# Ports
WEB_PORT=5000
